.fadeInUp.animated
  .row
    .ten.twelfths.skip-one
      .page-header#start-page-header
        .text-center
          = image_tag("usage.png", width: 800)
  .row
    .ten.twelfths.skip-one
      .text-center
        %a.blue.button(href="/auth/twitter")
          %i.icon-twitter= t('login_twitter')
