.container
  .row
    .col-xs-offset-1.col-xs-10
      .page-header#start-page-header Usage

  .row
    .col-xs-offset-1.col-xs-10
      .text-center
        %a.btn.btn-primary.btn-xs(href="/auth/twitter" role="button")
          %font(color="#ffffff")
            %i.fa.fa-twitter Twitterでログイン
%br
