= form_tag("/tickets/search", method: "get", remote: true) do
  .form-group
    .field
      .col-xs-6
        = text_field_tag(tab_id, params[tab_id], class: "form-control")
      .col-xs-2
        .actions
          = submit_tag(t('search'), name: nil, class: "btn btn-default")
  = hidden_field_tag(:tab_id, tab_id)

