- if @ticket[:user_id] == @id
  = render(partial: 'register_form', locals: {ticket: @ticket, tags: @tags, title: t('editing_ticket'), viewer: false})
- else
  = render(partial: 'register_form', locals: {ticket: @ticket, tags: @tags, title: t('editing_ticket'), viewer: true})

= link_to(t('show'), controller: "tickets", action: "show", id: @ticket)
\|
= link_to(t('back'), tickets_path)
