- if @ticket[:user_id] == @id
  = render("register_form", title: t('editing_ticket'), ticket: @ticket, tags: @tags, viewer: false)
- else
  = render("register_form", title: t('editing_ticket'), ticket: @ticket, tags: @tags, viewer: true)

= link_to(t('show'), controller: "tickets", action: "show", id: @ticket)
\|
= link_to(t('back'), tickets_path)
