- if @ticket[:user_id] == @id
  = render(partial: 'register_form', locals: {ticket: @ticket, tags: @tags, title: t('editing_ticket'), viewer: false, user: @user})
- else
  = render(partial: 'register_form', locals: {ticket: @ticket, tags: @tags, title: t('editing_ticket'), viewer: true, user: @user})

= link_to(t('back'), tickets_path)
