- if session[:name]
  = render(partial: "register_form", locals: {ticket: @ticket, tc: @ticket_category, title: t('register_new_ticket')})
- else
  = render(partial: "oauth")

= render(partial: "search_form")

#ajax_area
  = render(partial: "listing_tickets", locals: {tickets: @tickets, title: t('new_tickets')})
