$("#ajax_area").html("#{escape_javascript(render(partial: "listing_tickets", locals: {tickets: @tickets, title: t('new_tickets')}))}");
$("#tweetbot_area").html("#{escape_javascript(render(partial: "listing_tickets_bot", locals: {tickets: @tickets_bot, title: t('ticket_bot_index')}))}");
