- if session[:name]
  = render(partial: "register_form", locals: {title: "Register New Ticket"})
- else
  = render(partial: "oauth")

= render(partial: "search_form")

#ajax_area
  = render(partial: "listing_tickets", locals: {tickets: @tickets, title: "New Tichkets"})
